<launch>
    <arg name="pi/2" value="1.5707963267948966" />
    <arg name="w" value="0.305" />
    <arg name="h1" value="0.265" />
    <arg name="h2" value="0.230" />
    <arg name="z" value="0.91"/>
    <arg name="z2" value="0.645"/>
    <arg name="z3" value="0.415"/>
    <arg name="z4" value="0.185"/>
    <!-- <arg name="x3" value="0.92-0.265-0.23"/>
    <arg name="x4" value="0.92-0.265-0.46"/> -->
    <arg name="y" value="0.38"/>
    <arg name="y2" value="0.105"/>
    <arg name="y3" value="-0.20"/>
<!--
    <arg name="y2" value="0.32-0.305"/>
    <arg name="y3" value="0.32-0.61"/> -->

    <arg name="x" value="0.92"/>
    <arg name="r" value="0"/>
    <arg name="p" value="1.57"/>
    <arg name="yaw" value="0"/>

    <arg name="bin_A" value="$(arg x) $(arg y) $(arg z) $(arg r) $(arg p) $(arg yaw)"/>
    <arg name="bin_B" value="$(arg x) $(arg y2) $(arg z) $(arg r) $(arg p) $(arg yaw)"/>
    <arg name="bin_C" value="$(arg x) $(arg y3) $(arg z) $(arg r) $(arg p) $(arg yaw)"/>
    <arg name="bin_D" value="$(arg x) $(arg y) $(arg z2) $(arg r) $(arg p) $(arg yaw)"/>
    <arg name="bin_E" value="$(arg x) $(arg y2) $(arg z2) $(arg r) $(arg p) $(arg yaw)"/>
    <arg name="bin_F" value="$(arg x) $(arg y3) $(arg z2) $(arg r) $(arg p) $(arg yaw)"/>
    <arg name="bin_G" value="$(arg x) $(arg y) $(arg z3) $(arg r) $(arg p) $(arg yaw)"/>
    <arg name="bin_H" value="$(arg x) $(arg y2) $(arg z3) $(arg r) $(arg p) $(arg yaw)"/>
    <arg name="bin_I" value="$(arg x) $(arg y3) $(arg z3) $(arg r) $(arg p) $(arg yaw)"/>
    <arg name="bin_J" value="$(arg x) $(arg y) $(arg z4) $(arg r) $(arg p) $(arg yaw)"/>
    <arg name="bin_K" value="$(arg x) $(arg y2) $(arg z4) $(arg r) $(arg p) $(arg yaw)"/>
    <arg name="bin_L" value="$(arg x) $(arg y3) $(arg z4) $(arg r) $(arg p) $(arg yaw)"/>


    <!-- <arg name="bin_A" value="$(arg x) $(arg y) $(arg z) $(arg r) $(arg p) $(arg yaw)"/>
    <arg name="bin_B" value="$(arg x) $(arg y)-$(arg(w) $(arg z) $(arg r) $(arg p) $(arg yaw)"/>
    <arg name="bin_C" value="$(arg x) $(arg y)-2*$(arg w) $(arg z) $(arg r) $(arg p) $(arg yaw)"/>
    <arg name="bin_D" value="$(arg x)-$(arg h1) $(arg y) $(arg z) $(arg r) $(arg p) $(arg yaw)"/>
    <arg name="bin_E" value="$(arg x)-$(arg h1) $(arg y)-$(arg w) $(arg z) $(arg r) $(arg p) $(arg yaw)"/>
    <arg name="bin_F" value="$(arg x)-$(arg h1) $(arg y)-2*$(arg w) $(arg z) $(arg r) $(arg p) $(arg yaw)"/>
    <arg name="bin_G" value="$(arg x)-$(arg h1)-$(arg h2) $(arg y) $(arg z) $(arg r) $(arg p) $(arg yaw)"/>
    <arg name="bin_H" value="$(arg x)-$(arg h1)-$(arg h2) $(arg y)-$(arg w) $(arg z) $(arg r) $(arg p) $(arg yaw)"/>
    <arg name="bin_I" value="$(arg x)-$(arg h1)-$(arg h2) $(arg y)-2*$(arg w) $(arg z) $(arg r) $(arg p) $(arg yaw)"/>
    <arg name="bin_J" value="$(arg x)-$(arg h1)-2*$(arg h2) $(arg y) $(arg z) $(arg r) $(arg p) $(arg yaw)"/>
    <arg name="bin_K" value="$(arg x)-$(arg h1)-2*$(arg h2) $(arg y)-$(arg w) $(arg z) $(arg r) $(arg p) $(arg yaw)"/>
    <arg name="bin_L" value="$(arg x)-$(arg h1)-2*$(arg h2) $(arg y)-2*$(arg w) $(arg z) $(arg r) $(arg p) $(arg yaw)"/> -->


    <!-- <arg name="baxter_link_pose" value="0.068 0.005 0.965 -0.037-pi/2 -0.114 -(0.636+pi/2) "/> -->
    <!-- <arg name="baxter_link_pose" value="0.12 -0.05 0.965 -1.607 -0.0 -2.206"/> -->

    <!-- - Translation: [0.068 0.005 0.965]
    - Rotation: in Quaternion [0.000 0.313 -0.048 0.948]
    in RPY (radian) [-0.037 0.636 -0.114]
    in RPY (degree) [-2.120 36.465 -6.522] -->

    <node pkg="tf" type="static_transform_publisher" name="shelf"
        args="$(arg bin_A) /base /shelf 10" />
    <node pkg="tf" type="static_transform_publisher" name="bin_A"
        args="$(arg bin_A) /base /bin_A 10" />
        <node pkg="tf" type="static_transform_publisher" name="bin_B"
            args="$(arg bin_B) /base /bin_B 10" />
            <node pkg="tf" type="static_transform_publisher" name="bin_C"
                args="$(arg bin_C) /base /bin_C 10" />
                <node pkg="tf" type="static_transform_publisher" name="bin_D"
                    args="$(arg bin_D) /base /bin_D 10" />
                    <node pkg="tf" type="static_transform_publisher" name="bin_E"
                        args="$(arg bin_E) /base /bin_E 10" />
                        <node pkg="tf" type="static_transform_publisher" name="bin_F"
                            args="$(arg bin_F) /base /bin_F 10" />
                            <node pkg="tf" type="static_transform_publisher" name="bin_G"
                                args="$(arg bin_G) /base /bin_G 10" />
                                <node pkg="tf" type="static_transform_publisher" name="bin_H"
                                    args="$(arg bin_H) /base /bin_H 10" />
                                    <node pkg="tf" type="static_transform_publisher" name="bin_I"
                                        args="$(arg bin_I) /base /bin_I 10" />
                                        <node pkg="tf" type="static_transform_publisher" name="bin_J"
                                            args="$(arg bin_J) /base /bin_J 10" />
                                            <node pkg="tf" type="static_transform_publisher" name="bin_K"
                                                args="$(arg bin_K) /base /bin_K 10" />
                                                <node pkg="tf" type="static_transform_publisher" name="bin_L"
                                                    args="$(arg bin_L) /base /bin_L 10" />
                                        <!-- args="$(arg baxter_link_pose) /world /kinect2_link 100" /> -->
                                    </launch>
