<?xml version="1.0"?>
<launch>
    <arg name="model" default="$(find baxter_description)/urdf/baxter_90.urdf.xacro"/>

    <param name="robot_description" command="$(find xacro)/xacro.py --inorder $(arg model)" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

</launch>
